.Comps {
  /*
  * This grid template modified from
  https://css-tricks.com/books/volume-i/holy-grail-layout-5-lines-css/
  */
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: repeat(3, 100px);
  grid-gap: 1em;
}
.Map {
  text-align: center;
  height: 150px;
  padding: 10px;
  position: sticky;
  }

.ItemList {
  color: pink;
}
