.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  padding: 5px;
  color: lightblue;
}

.App-title {
  font-size: 1.5em;
}

.App-footer {
  background-color: black;
  padding: 5px;
  color: lightblue
}
.shoutout {
  font-size: .7em;
}

/*
 * Media Queries
 */

 /*
 * Screens wider than 600px
 */
@media screen and (min-width: 600px) {
  .App-header {
    padding: 20px;
  }
  .App-footer {
    padding: 15px;
  }
}

/*
* Screens wider than 950px
*/
@media screen and (min-width: 950px) {
  .App {
    max-width: 950px;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
  }
}
