.info-window {

}

.window-content {
  padding-left: 0px;

}

.amenities-list {
  list-style-type: none;
  display: inline-grid;
  grid-template-columns: 1fr;
  padding-left: 0px;
}

.amenity {
  color: white;
  background-color: teal;
  padding: 5px;
}
.restaurant-info {
  padding-left: 0px;
  list-style-type: none;

}
.restaurant-name {
  font-weight: 400;
}

.description {
}
