.Comps {
  /*
  * This grid template modified from
  https://css-tricks.com/books/volume-i/holy-grail-layout-5-lines-css/
  */
  display: grid;
  grid-template-columns: 150px auto;
  grid-gap: .1em;
}
.Map {
  text-align: center;
  height: 150px;
  padding: 5px;
  position: sticky;
  }

.item-list-bar {
  color: pink;
}
.item-list {
  padding-left: 0px;

}
.item-list-items {
  list-style-type: none;
  background-color: lightblue;
  margin: 5px;
}

.items {
  color: navy;
  text-align: left;
}

.item-heading {
  text-align: center;
  color: purple;
}
