.Comps {
  /*
  * This grid template modified from
  https://css-tricks.com/books/volume-i/holy-grail-layout-5-lines-css/
  */
  display: grid;
  grid-template-columns: 1fr;

  grid-gap: .1em;
}
.Map {
  text-align: center;
  padding: 5px;
  }

.list-bar-heading {
  color: Navy;
  font-size: 1.2em;
  font-weight: 700;
  padding: 5px;
}
.item-list {
  padding-left: 0px;

}
.item-list-items {
  list-style-type: none;
  background-color: lightblue;
  margin: 5px;
  font-size: 1em;
  padding: 10px 2px 10px 2px;
}

.items {
  color: navy;
  text-align: left;
}

.item-heading {
  text-align: center;
  color: purple;
}

.filter-options {
  padding: 18px 0px 7px 0px;
  font-size: 1.1em;
}

.filter-heading {
  padding-right: 5px;
}

.filter-menu {
  font-size: 1em;
}

/*
 * Media Queries
 */

 /*
 * Screens wider than 600px
 */
@media screen and (min-width: 600px) {
  	.filter-options{

  	}
  }
